.stopwatch-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    list-style: none;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.scramble-container {
    display: flex;
    justify-content: center;
}

.history-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7vh;
} 

.timer {
    font-size: clamp(4rem, 10vh, 7rem);
    font-family: monospace;
}

.options-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.25rem;
    margin-right: 40px;
}

.options-container {
    min-height: 75px;
}

.options-item {
    padding: 5px 10px;
    border-radius: 7px;
    
}

.options-item:hover {
    transition: ease 0.5s;
    background-color: rgb(26, 24, 24);
    cursor: pointer;
}

.nav-item {
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
}

.scramble {
    font-size: 1.3rem;
    word-spacing: 0.6rem;
}
.reset-button {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
    
}
.reset-scramble {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    margin-left: 30px;
    min-width: 100px;
    transition: ease-in 0.5s;

}
.reset-button:hover .reset-scramble {
    transition: ease 0.5s;
    visibility: visible;
}

.last5-container {
    min-height: 150px;
}

.ao-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}